name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  pytest:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.11', '3.13']
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v3

      - name: Set up conda
        uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: simdec
          python-version: ${{ matrix.python-version }}
          channels: conda-forge
          miniforge-variant: Mambaforge
          miniforge-version: latest
          use-mamba: true
          channel-priority: true

      - name: Get Date
        id: get-date
        run: echo "::set-output name=month::$(/bin/date -u '+%Y%m')"
        shell: bash

      - name: Cache conda
        uses: actions/cache@v3
        env:
          # Increase this value to reset cache if environment.yml has not changed
          CACHE_NUMBER: 0
        with:
          path: ${{ env.CONDA }}/envs/simdec
          key:
            ${{ runner.os }}--${{ steps.get-date.outputs.month }}-conda-${{ env.CACHE_NUMBER }}-${{ hashFiles('environment.yml') }}
        id: envcache

      - name: Update Conda Environment
        run: mamba env update -n simdec -f environment.yml
        if: steps.envcache.outputs.cache-hit != 'true'

      - name: Install package
        run: |
          conda activate simdec
          pip install .[test]

      - name: Test
        if: matrix.python-version != '3.13'
        run: |
          conda activate simdec
          pytest

      - name: Test with coverage
        if: matrix.python-version == '3.13'
        run: |
          conda activate simdec
          pytest --cov simdec --cov-report term-missing
